.table {
  border-collapse: separate;
  border-spacing: 0 0.25rem;

  &__header {
    font-weight: 700;
  }

  &__row {
    background-color: white;
  }

  &__cell {
    text-align: start;
    padding: .2rem .5rem;
    border: 1px solid #dee2e6;
  }

  &__text {
    min-height: 50px;
  }
}

.mobile-table {
  &__row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: .75rem;
    border: 1px solid #dee2e6;
    background-color: white;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__cell {
    text-align: start;
    padding: .2rem .5rem;
    border: 1px solid #dee2e6;
    &:last-child {
      grid-column: span 2;
    }
    &:nth-child(4n+1) {
      grid-column-start: span 3;
    }
    @media (max-width: 768px) {
      &:nth-child(4n+1) {
        grid-column-start: auto;
      }
      &:nth-child(3n+1) {
        grid-column-start: span 2;
      }
    }
  }

  &__header {
    font-weight: 700;
  }

  &__value {
    min-height: 32px;
  }
}

.table, .mobile-table { display: none; }
@media (min-width: 1024px) {
  .table { display: block;}
}
@media (max-width: 1024px) {
  .mobile-table { display: block;}
}
