.button {
  border: none;
  background: var(--accent-color);
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;

  &:hover {
    background: var(--accent-color-hover);
  }
}

.table {
  border-collapse: separate;
  border-spacing: 0 0.25rem;

  &__header {
    font-weight: 700;
  }

  &__row {
    background-color: white;
  }

  &__cell {
    text-align: start;
    padding: .2rem .5rem;
    border: 1px solid #dee2e6;
  }

  &__text {
    min-height: 50px;
  }
}

.mobile-table {
  &__row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: .75rem;
    border: 1px solid #dee2e6;
    background-color: white;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__cell {
    text-align: start;
    padding: .2rem .5rem;
    border: 1px solid #dee2e6;

    &:empty {
      display: none;
    }
    &:nth-child(4n+1) {
      grid-column-start: span 3;
    }
    &:has(button) {
      grid-column-start: span 3;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
    }
    @media (max-width: 768px) {
      &:nth-child(4n+1) {
        grid-column-start: auto;
      }
      &:nth-child(3n+1) {
        grid-column-start: span 2;
      }
      &:has(button) {
        grid-column-start: span 2;
      }
    }
  }

  &__header {
    font-weight: 700;
  }

  &__value {
    min-height: 32px;
  }
}

.info-card {
  background-color: var(--card-color);
  border: 1px solid var(--card-border-color);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  color: var(--text-dark-accent);
  width: 100%;
}

.table, .mobile-table { display: none; }
@media (min-width: 1024px) {
  .table { display: block;}
}
@media (max-width: 1024px) {
  .mobile-table { display: block;}
}
