@import "normalize.css";

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-VariableFont_wght.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
    --accent-color: lightskyblue;
}

.paragraph, label, span, input, textarea, html {
  font-family: 'Manrope', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-color);
  text-wrap: pretty;
  letter-spacing: 0.5px;
}